<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMenuItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddMenuItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuItemManagement</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.MenuItemManagement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ResetPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword1</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ResetPassword1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListMenuItems</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListMenuItems</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMenuItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UpdateMenuItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMenuItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteMenuItem</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserProfile</display-name>
  	<servlet-name>UpdateUserProfile</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserEmail</display-name>
  	<servlet-name>UpdateUserEmail</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UpdateUserEmail</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UploadMenuItemImage</display-name>
  	<servlet-name>UploadMenuItemImage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UploadMenuItemImage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ContactInsert</display-name>
  	<servlet-name>ContactInsert</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ContactInsert</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllInquiries</display-name>
  	<servlet-name>ListAllInquiries</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllInquiries</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AnswerInquiry</display-name>
  	<servlet-name>AnswerInquiry</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AnswerInquiry</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteInquiry</display-name>
  	<servlet-name>DeleteInquiry</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteInquiry</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserInquiryList</display-name>
  	<servlet-name>UserInquiryList</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UserInquiryList</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteUserSideInquiry</display-name>
  	<servlet-name>DeleteUserSideInquiry</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteUserSideInquiry</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListMenuItemsInHomePage</display-name>
  	<servlet-name>ListMenuItemsInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListMenuItemsInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllAppetisers</display-name>
  	<servlet-name>ListAllAppetisers</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllAppetisers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DessertsInHomePage</display-name>
  	<servlet-name>DessertsInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DessertsInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DessertInHomePage</display-name>
  	<servlet-name>DessertInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DessertInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DrinksInHomePage</display-name>
  	<servlet-name>DrinksInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DrinksInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchDessertItem</display-name>
  	<servlet-name>SearchDessertItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchDessertItem</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchMainCourse</display-name>
  	<servlet-name>SearchMainCourse</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchMainCourse</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchDrink</display-name>
  	<servlet-name>SearchDrink</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchDrink</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchApps</display-name>
  	<servlet-name>SearchApps</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchApps</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdditemToShoppingCart</display-name>
  	<servlet-name>AdditemToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AdditemToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddDsertToShoppingCart</display-name>
  	<servlet-name>AddDsertToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddDsertToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddDrinkToShoppingCart</display-name>
  	<servlet-name>AddDrinkToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddDrinkToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddDrinksToShoppingCart</display-name>
  	<servlet-name>AddDrinksToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddDrinksToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddMainCourseToShoppingCart</display-name>
  	<servlet-name>AddMainCourseToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddMainCourseToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddMainCoursesToShoppingCart</display-name>
  	<servlet-name>AddMainCoursesToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddMainCoursesToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllCartDetails</display-name>
  	<servlet-name>ListAllCartDetails</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllCartDetails</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateQuantity</display-name>
  	<servlet-name>UpdateQuantity</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UpdateQuantity</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteCartItem</display-name>
  	<servlet-name>DeleteCartItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteCartItem</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddPayment</display-name>
  	<servlet-name>AddPayment</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddPayment</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListItemsInPayment</display-name>
  	<servlet-name>ListItemsInPayment</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListItemsInPayment</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>ListOrderHistory</display-name>
  	<servlet-name>ListOrderHistory</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListOrderHistory</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintInsert</display-name>
  	<servlet-name>ComplaintInsert</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintInsert</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintUpdate</display-name>
  	<servlet-name>ComplaintUpdate</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintUpdate</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintDelete</display-name>
  	<servlet-name>ComplaintDelete</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintDelete</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListOrderHistory1</display-name>
  	<servlet-name>ListOrderHistory1</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListOrderHistory1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListUser</display-name>
  	<servlet-name>ListUser</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteUser</display-name>
  	<servlet-name>DeleteUser</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteUsers</display-name>
  	<servlet-name>DeleteUsers</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteUsers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllOrders</display-name>
  	<servlet-name>ListAllOrders</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllOrders</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteOrder</display-name>
  	<servlet-name>DeleteOrder</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteOrder</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateExcelWorkSheet</display-name>
  	<servlet-name>CreateExcelWorkSheet</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.CreateExcelWorkSheet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>OrderExcel</display-name>
  	<servlet-name>OrderExcel</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.OrderExcel</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateExcelForInquiries</display-name>
  	<servlet-name>CreateExcelForInquiries</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.CreateExcelForInquiries</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateExcelForMenuItems</display-name>
  	<servlet-name>CreateExcelForMenuItems</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.CreateExcelForMenuItems</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CreateExcelForUser</display-name>
  	<servlet-name>CreateExcelForUser</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.CreateExcelForUser</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>NewCustomerReview</display-name>
  	<servlet-name>NewCustomerReview</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.NewCustomerReview</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllCustomerReviews</display-name>
  	<servlet-name>ListAllCustomerReviews</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllCustomerReviews</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditReview</display-name>
  	<servlet-name>EditReview</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.EditReview</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteReview</display-name>
  	<servlet-name>DeleteReview</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteReview</servlet-class>
  </servlet>
   <servlet>
  	<description>
  	</description>
  	<display-name>ListReviewInCRUD</display-name>
  	<servlet-name>ListReviewInCRUD</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListReviewInCRUD</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintCreate</display-name>
  	<servlet-name>ComplaintCreate</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintCreate</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintSCreate</display-name>
  	<servlet-name>ComplaintSCreate</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintSCreate</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintsCreate</display-name>
  	<servlet-name>ComplaintsCreate</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintsCreate</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintList</display-name>
  	<servlet-name>ComplaintList</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintList</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintUserList</display-name>
  	<servlet-name>ComplaintUserList</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintUserList</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllCustomerReviewsForReviewPage</display-name>
  	<servlet-name>ListAllCustomerReviewsForReviewPage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllCustomerReviewsForReviewPage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ComplaintEdit</display-name>
  	<servlet-name>ComplaintEdit</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ComplaintEdit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMenuItem</servlet-name>
  	<url-pattern>/AddMenuItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuItemManagement</servlet-name>
  	<url-pattern>/MenuItemManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword1</servlet-name>
  	<url-pattern>/ResetPassword1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListMenuItems</servlet-name>
  	<url-pattern>/ListMenuItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMenuItem</servlet-name>
  	<url-pattern>/UpdateMenuItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMenuItem</servlet-name>
  	<url-pattern>/DeleteMenuItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserProfile</servlet-name>
  	<url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserEmail</servlet-name>
  	<url-pattern>/UpdateUserEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadMenuItemImage</servlet-name>
  	<url-pattern>/UploadMenuItemImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactInsert</servlet-name>
  	<url-pattern>/ContactInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllInquiries</servlet-name>
  	<url-pattern>/ListAllInquiries</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnswerInquiry</servlet-name>
  	<url-pattern>/AnswerInquiry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteInquiry</servlet-name>
  	<url-pattern>/DeleteInquiry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserInquiryList</servlet-name>
  	<url-pattern>/UserInquiryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserSideInquiry</servlet-name>
  	<url-pattern>/DeleteUserSideInquiry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListMenuItemsInHomePage</servlet-name>
  	<url-pattern>/ListMenuItemsInHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllAppetisers</servlet-name>
  	<url-pattern>/ListAllAppetisers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DessertsInHomePage</servlet-name>
  	<url-pattern>/DessertsInHomePage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DessertInHomePage</servlet-name>
  	<url-pattern>/DessertInHomePage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DrinksInHomePage</servlet-name>
  	<url-pattern>/DrinksInHomePage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SearchDessertItem</servlet-name>
  	<url-pattern>/SearchDessertItem</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SearchMainCourse</servlet-name>
  	<url-pattern>/SearchMainCourse</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SearchDrink</servlet-name>
  	<url-pattern>/SearchDrink</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SearchApps</servlet-name>
  	<url-pattern>/SearchApps</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AdditemToShoppingCart</servlet-name>
  	<url-pattern>/AdditemToShoppingCart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AddDsertToShoppingCart</servlet-name>
  	<url-pattern>/AddDsertToShoppingCart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AddDrinkToShoppingCart</servlet-name>
  	<url-pattern>/AddDrinkToShoppingCart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AddDrinksToShoppingCart</servlet-name>
  	<url-pattern>/AddDrinksToShoppingCart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AddMainCourseToShoppingCart</servlet-name>
  	<url-pattern>/AddMainCourseToShoppingCart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AddMainCoursesToShoppingCart</servlet-name>
  	<url-pattern>/AddMainCoursesToShoppingCart</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ListAllCartDetails</servlet-name>
  	<url-pattern>/ListAllCartDetails</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>UpdateQuantity</servlet-name>
  	<url-pattern>/UpdateQuantity</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DeleteCartItem</servlet-name>
  	<url-pattern>/DeleteCartItem</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AddPayment</servlet-name>
  	<url-pattern>/AddPayment</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ListItemsInPayment</servlet-name>
  	<url-pattern>/ListItemsInPayment</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ListOrderHistory</servlet-name>
  	<url-pattern>/ListOrderHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  
  	<servlet-name>ComplaintInsert</servlet-name>
  	<url-pattern>/ComplaintInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintUpdate</servlet-name>
  	<url-pattern>/ComplaintUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintDelete</servlet-name>
  	<url-pattern>/ComplaintDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListOrderHistory1</servlet-name>
  	<url-pattern>/ListOrderHistory1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListUser</servlet-name>
  	<url-pattern>/ListUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUsers</servlet-name>
  	<url-pattern>/DeleteUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllOrders</servlet-name>
  	<url-pattern>/ListAllOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOrder</servlet-name>
  	<url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateExcelWorkSheet</servlet-name>
  	<url-pattern>/CreateExcelWorkSheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderExcel</servlet-name>
  	<url-pattern>/OrderExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateExcelForInquiries</servlet-name>
  	<url-pattern>/CreateExcelForInquiries</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateExcelForMenuItems</servlet-name>
  	<url-pattern>/CreateExcelForMenuItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateExcelForUser</servlet-name>
  	<url-pattern>/CreateExcelForUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewCustomerReview</servlet-name>
  	<url-pattern>/NewCustomerReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllCustomerReviews</servlet-name>
  	<url-pattern>/ListAllCustomerReviews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditReview</servlet-name>
  	<url-pattern>/EditReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteReview</servlet-name>
  	<url-pattern>/DeleteReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListReviewInCRUD</servlet-name>
  	<url-pattern>/ListReviewInCRUD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintCreate</servlet-name>
  	<url-pattern>/ComplaintCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintSCreate</servlet-name>
  	<url-pattern>/ComplaintSCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintsCreate</servlet-name>
  	<url-pattern>/ComplaintsCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintList</servlet-name>
  	<url-pattern>/ComplaintList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintUserList</servlet-name>
  	<url-pattern>/ComplaintUserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllCustomerReviewsForReviewPage</servlet-name>
  	<url-pattern>/ListAllCustomerReviewsForReviewPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplaintEdit</servlet-name>
  	<url-pattern>/ComplaintEdit</url-pattern>
  </servlet-mapping>

  
</web-app>
