<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMenuItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddMenuItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MenuItemManagement</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.MenuItemManagement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ResetPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword1</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ResetPassword1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListMenuItems</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListMenuItems</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMenuItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UpdateMenuItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMenuItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteMenuItem</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserProfile</display-name>
  	<servlet-name>UpdateUserProfile</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserEmail</display-name>
  	<servlet-name>UpdateUserEmail</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UpdateUserEmail</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UploadMenuItemImage</display-name>
  	<servlet-name>UploadMenuItemImage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UploadMenuItemImage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ContactInsert</display-name>
  	<servlet-name>ContactInsert</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ContactInsert</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllInquiries</display-name>
  	<servlet-name>ListAllInquiries</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllInquiries</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AnswerInquiry</display-name>
  	<servlet-name>AnswerInquiry</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AnswerInquiry</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteInquiry</display-name>
  	<servlet-name>DeleteInquiry</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteInquiry</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UserInquiryList</display-name>
  	<servlet-name>UserInquiryList</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.UserInquiryList</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteUserSideInquiry</display-name>
  	<servlet-name>DeleteUserSideInquiry</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DeleteUserSideInquiry</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListMenuItemsInHomePage</display-name>
  	<servlet-name>ListMenuItemsInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListMenuItemsInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ListAllAppetisers</display-name>
  	<servlet-name>ListAllAppetisers</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.ListAllAppetisers</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DessertsInHomePage</display-name>
  	<servlet-name>DessertsInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DessertsInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DessertInHomePage</display-name>
  	<servlet-name>DessertInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DessertInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DrinksInHomePage</display-name>
  	<servlet-name>DrinksInHomePage</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.DrinksInHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchDessertItem</display-name>
  	<servlet-name>SearchDessertItem</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchDessertItem</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchMainCourse</display-name>
  	<servlet-name>SearchMainCourse</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchMainCourse</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchDrink</display-name>
  	<servlet-name>SearchDrink</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchDrink</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchApps</display-name>
  	<servlet-name>SearchApps</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.SearchApps</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdditemToShoppingCart</display-name>
  	<servlet-name>AdditemToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AdditemToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddDsertToShoppingCart</display-name>
  	<servlet-name>AddDsertToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddDsertToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddDrinkToShoppingCart</display-name>
  	<servlet-name>AddDrinkToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddDrinkToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddDrinksToShoppingCart</display-name>
  	<servlet-name>AddDrinksToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddDrinksToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddMainCourseToShoppingCart</display-name>
  	<servlet-name>AddMainCourseToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddMainCourseToShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddMainCoursesToShoppingCart</display-name>
  	<servlet-name>AddMainCoursesToShoppingCart</servlet-name>
  	<servlet-class>com.JavaWebApplication.Controller.AddMainCoursesToShoppingCart</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMenuItem</servlet-name>
  	<url-pattern>/AddMenuItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MenuItemManagement</servlet-name>
  	<url-pattern>/MenuItemManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword1</servlet-name>
  	<url-pattern>/ResetPassword1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListMenuItems</servlet-name>
  	<url-pattern>/ListMenuItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMenuItem</servlet-name>
  	<url-pattern>/UpdateMenuItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMenuItem</servlet-name>
  	<url-pattern>/DeleteMenuItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserProfile</servlet-name>
  	<url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserEmail</servlet-name>
  	<url-pattern>/UpdateUserEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadMenuItemImage</servlet-name>
  	<url-pattern>/UploadMenuItemImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactInsert</servlet-name>
  	<url-pattern>/ContactInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllInquiries</servlet-name>
  	<url-pattern>/ListAllInquiries</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnswerInquiry</servlet-name>
  	<url-pattern>/AnswerInquiry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteInquiry</servlet-name>
  	<url-pattern>/DeleteInquiry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserInquiryList</servlet-name>
  	<url-pattern>/UserInquiryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserSideInquiry</servlet-name>
  	<url-pattern>/DeleteUserSideInquiry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListMenuItemsInHomePage</servlet-name>
  	<url-pattern>/ListMenuItemsInHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllAppetisers</servlet-name>
  	<url-pattern>/ListAllAppetisers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DessertsInHomePage</servlet-name>
  	<url-pattern>/DessertsInHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DessertInHomePage</servlet-name>
  	<url-pattern>/DessertInHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DrinksInHomePage</servlet-name>
  	<url-pattern>/DrinksInHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchDessertItem</servlet-name>
  	<url-pattern>/SearchDessertItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchMainCourse</servlet-name>
  	<url-pattern>/SearchMainCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchDrink</servlet-name>
  	<url-pattern>/SearchDrink</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchApps</servlet-name>
  	<url-pattern>/SearchApps</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdditemToShoppingCart</servlet-name>
  	<url-pattern>/AdditemToShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDsertToShoppingCart</servlet-name>
  	<url-pattern>/AddDsertToShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDrinkToShoppingCart</servlet-name>
  	<url-pattern>/AddDrinkToShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDrinksToShoppingCart</servlet-name>
  	<url-pattern>/AddDrinksToShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMainCourseToShoppingCart</servlet-name>
  	<url-pattern>/AddMainCourseToShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMainCoursesToShoppingCart</servlet-name>
  	<url-pattern>/AddMainCoursesToShoppingCart</url-pattern>
  </servlet-mapping>
  
</web-app>
